# Ignore all bin and obj folders
bin/
obj/
LadonLang/bin/
LadonLang/obj/
#Ignore unnecesary files
Documentation.txt

# Ignore all dll and exe files
*.dll
*.exe
*.pdb

# Ignore cache files
*.cache

# Ignore all word temporal files
*.tmp
~*